*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background-image: url(icon/moon.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{

}
.logo{
    width: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.361);
}